[Unit]
Description=Currency Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{INSTALL_DIR}}/.venv/bin/python {{INSTALL_DIR}}/app.py
WorkingDirectory={{INSTALL_DIR}}
Environment=APP_PORT={{APP_PORT}}
Environment=HTTPS_PORT={{HTTPS_PORT}}
EnvironmentFile=-{{INSTALL_DIR}}/.env
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5
User={{RUN_USER}}
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
