[Unit]
Description=Currency Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

ExecStart=/home/kiosk/currency-dashboard/.venv/bin/python /home/kiosk/currency-dashboard/app.py
WorkingDirectory=/home/kiosk/currency-dashboard
Environment=APP_PORT=80
Environment=HTTPS_PORT=443
EnvironmentFile=-/home/kiosk/currency-dashboard/.env
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5
User=kiosk
StandardOutput=journal
StandardError=journal
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
